.container{
    position: absolute;
    width:400px;
    /* height:400px; */
    background-color: #0F172A;
}

.Motienr{  
position: absolute;
width: 368px;
height: 45px;
/* top: 15px; */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 15px;

display: block;
/* max-height: 50px; */
/* line-height: 1.8em; */
overflow: hidden;

/* white-space: nowrap; overflow: scroll; */
line-height: 23px;
display: flex;
align-items: center;
color: #FFFFFF;
}

.redbar{
    position: absolute;
width: 370px;
height: 27px;
top: 48px;
background: #BE123C;
opacity: 0.2;
}

.greenbar{
    position: absolute;
    width: 304px;
    height: 27px;
    background: #047857;
}

.stemmenVoor{
    position: absolute;
    width: 140px;
    height: 27px;
    left: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.middellijn{
    position: absolute;
    height: 27px;
    left: 184px;
    border: 1px dashed #FFFFFF;
}


.material-io{
    position: absolute;
    font-size: 32px !important;
    margin: -2px;
}

.voor{
    color:#047857;
}

.tegen{
    color:#BE123C;
}

.ongekend{
    color:#94A3B8;
}

.fractie{
    width: 146px;
    height: 26px;
    margin-left: 35px;
    margin-top: 2px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.stemmingen{
    margin-top: 78px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    
}

.stemming{
    width: 50%;
    margin-top: 3px;
    height: 28px;
}